* {
  padding:0;
  margin:0;
  font-family: $fontfamily, sans-serif;
  font-size: 18px;
  letter-spacing: 0.03em;
  font-weight: 400;
  outline: 0;
  white-space: normal;
}

body{
	background: $backgroundColor;
 	color: $typedefault;
  font-family: $fontfamily, sans-serif;
  font-size: 16px;
  max-width: 100%;
} 						

h1{
  font-size: 42px;
  font-weight: $bold;
  font-family: $fontfamily;
  padding: 15px 0;

    &:after{
    content: '';
    display: block;
    width: 100px;
    height: 5px;
    background-color: $pink;
    margin: auto;
    // border-right: #ff325d 4px solid;
    // border-bottom: #ff325d 4px solid;
    transform: skew(-27deg);
    -webkit-transform: skew(-27deg);
    margin-top: 10px;
  }
}

h2{
  font-size: 36px;
  font-weight: $bold;
  font-family: $fontfamily;
  padding: 15px 0;

    &:after{
    content: '';
    display: block;
    width: 100px;
    height: 5px;
    background-color: $pink;
    margin: auto;
    // border-right: #ff325d 4px solid;
    // border-bottom: #ff325d 4px solid;
    transform: skew(-27deg);
    -webkit-transform: skew(-27deg);
     margin-top: 10px;
  }
}

h3{
  font-size: 30px;
  font-weight: $bold;
  font-family: $fontfamily;
  padding: 15px 0;
}

h4{
  font-size: 24px;
  font-weight: $bold;
  font-family: $fontfamily;
}

p{
  font-size: 16px;
  font-weight: $normal;
  font-family: $fontfamily;
}

 a {
  display: inline-block;
    position: relative;
    color: $white;
    text-decoration: none;
    outline: 0;
    -o-outline: 0;
    -moz-outline: 0;
    -webkit-outline: 0;
}

.container{
  max-width: 100%;
  margin: auto;
}

.row {
  position: relative;
  display: block;
  width:100%;
  box-sizing: border-box;
  margin-top:15px;
  margin-bottom:15px;
  .col {
    //default column styles
    display: inline-block;
    box-sizing: border-box;
    padding:15px;
    vertical-align: top;
    &.half {
      &.one {
        width: 50%;
      }
      &.two {
        width:100%;
      }
    }
    &.thirds {
      &.one {
        width:33.33%;
      }
      &.two {
        width:66.66%;
      }
      &.three {
        width:100%;
      }

    }
    &.fifths {
      &.one {
        width:20%;
      }
      &.two {
        width:40%;
      }
      &.three {
        width:60%;
      }
      &.four {
        width:80%;
      }
      &.five {
        width:100%;
      }

    }

  }
}
.con-content{
  width: 80%;
  position: relative;
  padding: 50px 0;
  margin: auto;
}

.filter{
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-color: rgba(118, 43, 58, 0.2);
        z-index: 5;
        transition: .25s;
        overflow: hidden;
        background: -webkit-linear-gradient(-40deg, rgba(118, 43, 58, 0.2), rgba(255, 50, 93, 0.1));  /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-40deg, rgba(118, 43, 58, 0.2), rgba(255, 50, 93, 0.1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-40deg, rgba(118, 43, 58, 0.2), rgba(255, 50, 93, 0.1));  /* For Firefox 3.6 to 15 */
    background: linear-gradient(-40deg, rgba(118, 43, 58, 0.2), rgba(255, 50, 93, 0.1));  /* Standard syntax */
    }
}

.medium{
  background-color: #d6d6d6;
}
.is-active:after {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;

  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 

  border-right:10px solid #121212; 
  //right: -30px;
  top: 3px;
}


// .backtotop{
//   position: fixed;
//   bottom: 10em;
//   right: 0;
//   background-color: $light;
//   opacity: .75;
//   padding: .5em;
//   color: $navbrand;
// }
// .hidden-top{
//   visibility: hidden;
// }