body {
	width: 100%;
	height: 100%;
	} // body

  .scene {
	 
	padding: 20px 0;
   
   article {
	@include container(95%);
   		} //article

	@include breakpoint ($wide) {
		padding: 60px 0;
   		}//breakpoint
   
	@include breakpoint ($medium) {
	   	article {
	   		@include container;
	 	} //article
   	} //breakpoint
} //scene

.right{
	float: right;
}

.btn_map {
	display: inline-block;
	color: $dark;
	width: 50%; 
	max-width: 160px;
	margin: 0 auto;
    text-align: center; 
    border: 1.5px solid $pink;
	padding: .3em;
	background: transparent;
	font-size: 1em; 
    font-weight: $bold; 
    text-transform: uppercase;
    text-decoration:none;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	  
    
    &:visited {
		color: $dark;
	} //visited

	&:hover {
		 background-color: $pink;
		 color: $light; 
	} //hover
} //btn_map

.btn_light {
	display: inline-block;
	color: $dark;
	width: 50%; 
	max-width: 160px;
	margin: 0 auto;
    text-align: center; 
   // border: 1.5px solid $pink;
	//padding: .3em;
	height: 45px;
//	background: transparent;
	font-size: 1em; 
    font-weight: $bold; 
    text-transform: uppercase;
    text-decoration:none; 
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px; 
	background-color: $accent;
	box-shadow: 3px 3px 10px 3px rgba(222,222,155,.25);
	transition: 0.45s;
	outline: 0;

 
	&:visited {
		color: $white;
	} //visited

	&:hover {
		background-color: $pink; 
		//color: $pink;
		box-shadow: 3px 3px 10px 3px rgba(222,222,155,.7);
	} //hover

	
} //btn light

.btn_dark {
	display: inline-block;
	color: $dark;
	width: 50%; 
	max-width: 160px;
	margin: 0 auto;
    text-align: center; 
    border: 1.5px solid $pink;
	padding: .3em;
	background: transparent;
	font-size: 1em; 
    font-weight: $bold; 
    text-transform: uppercase;
    text-decoration:none; 
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;  
	
	&:visited {
		color: $dark;
	} //visited

	&:hover {
		 background-color: $pink;
		 color:#2a2a2a; 
	} //hover
} //btn_dark

.btn-white {
    font-size: 18px;
    border: 1.5px solid $white;
    padding: 5px 15px;
    border-radius: 6px;
    transition: .8s;

    &:hover{
    	color: $dark;
    	background-color: $white;
    }
}
