/****************************
      Fonts and Icons
****************************/


@include border-box-sizing; //uses border box sizing like the old IE

//susy
$susy: (
	columns: 12,
	container: 70em,
	gutters: 1/4,
	gutter-position: inside,
	var container: (width: 100%),
	);

//breakpoint
$phone: 400px;
$small: 650px;
$medium: 960px;
$wide: 1200px;

//Add Color Palette
$dark		: #121212;
$pink		: #ff325d;
$white		: #ffffff;
$light		: #E4E4E4;
// $darkpink	: #99695B;
$navbrand	: #ff325d;
$accent		: #1098eb;
$darkpink		: #ffa325;


$backgroundColor	: $dark;
$typedefault		: $light;
$navBackground		: $pink;
$navForeground		: $light;
$navHover			: $darkpink;
$mainFont			: $light;
$headersubbg		: $dark;

@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700i';
//font variables
$fontfamily: 'Source Sans Pro', sans-serif;
$thin		: 300;
$normal		: 400;
$bold		: 800;
$italic		: 400 italic;

// $headFont : $thin 1.5em/1.5em $fontfamily;
// $mainFont : $thin 1em/1.5em $fontfamily;
