/****************************
      Fonts and Icons
****************************/

@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:400,400italic,800,300);

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?6u9v2m');
	src:url('../fonts/icomoon.eot?6u9v2m#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?6u9v2m') format('truetype'),
		url('../fonts/icomoon.woff?6u9v2m') format('woff'),
		url('../fonts/icomoon.svg?6u9v2m#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="data-icon"], [class*=" data-icon"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.data-iconfacebook3:before {
	content: "\e600";
}
.data-icontwitter3:before {
	content: "\e601";
}
.data-iconyoutube:before {
	content: "\e602";
}
.icon-youtube2:before {
    content: "\ea9e";
}
.icon-facebook:before {
    content: "\ea90";
}
.icon-twitter:before {
    content: "\ea96";
}
.icon-twitter2:before {
    content: "\e901";
}


[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	margin: 6px;
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 2.4em;
	
		
/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


@include border-box-sizing; //uses border box sizing like the old IE

//susy
$susy: (
	columns: 12,
	container: 70em,
	gutters: 1/4,
	gutter-position: inside,
	var container2: (width: 100%),
	);

//breakpoint
$phone: 400px;
$small: 650px;
$medium: 960px;
$wide: 1200px;

//Add Color Palette
$dark		: #121212;
$pink		: #ff325d;
$white		: #ffffff;
$light		: #E4E4E4;
$darkpink	: #EA4321;
$navbrand	: #ff325d;


$backgroundColor	: $dark;
$typedefault		: $light;
$navBackground		: $pink;
$navForeground		: $light;
$navHover			: $darkpink;
$mainFont			: $light;
$headersubbg		: $dark;

//font variables
$fontfamily: 'alegreya sans', Arial, sans-serif;

$thin		: 300;
$normal		: 400;
$bold		: 800;
$italic		: 400 italic;

$headFont : $thin 1.5em/1.5em $fontfamily;
$mainFont : $thin 1em/1.5em $fontfamily;

