
.container{
	#beliefs{
		position: relative;
		.row{
				margin: 0;
			.beliefs-side-bar{
				text-align: left;
				padding: 30px;
				font-size: 21px;
				max-width: 175px;
				background-color: $darkpink;
				display: inline-block;
				position: absolute;
				left: 875px;
				top: 19%;
				li{
					padding: 15px 0;
					font-weight: 500;
					cursor: pointer;
					text-align: center;

					a{
						font-weight: $bold;
						outline: 0;
						-o-outline: 0;
						-moz-outline: 0;
						-webkit-outline: 0;
						&:hover{
							color: $dark;
						}
					} //a
				} //li
				.isactive{
					&:after{
						border-top: 10px solid transparent;
						border-bottom: 10px solid transparent; 
						border-right:10px solid $darkpink;
						content: "";
						position: absolute;
						left: -10px;
						// top:15%;
					}
					a{
						color: $dark;
						font-weight: $bold;
					}
				}// is-active
			} //beliefs side bar
			.col.half.one{
				padding: 0;
				.beliefs-side-bar{
					text-align: left;
					padding: 30px;
					font-size: 21px;
					max-width: 175px;
					background-color: $darkpink;
					display: inline-block;
					height: 100%;
					li{
						padding: 15px 0;
						font-weight: 500;
						cursor: pointer;
						a{
							width: 80px;
							outline: 0;
							-o-outline: 0;
							-moz-outline: 0;
							-webkit-outline: 0;
							text-align: center;
							padding: 2px 0;

							&:hover{
								color: $dark;
							}
						} //a
					} //li
					.isactive{
						&:after{
						border-top: 10px solid transparent;
						border-bottom: 10px solid transparent; 
						border-left:10px solid $darkpink;
						content: "";
						position: absolute;
						right: -40px;
						top:20%;
						}
					}// is-active
				} //beliefs side bar
				&.belief{
					padding: 60px 25px;
					h1{
						width: 80%;
						margin:auto;
						&:after{
							margin: 15px 0 0; 
						}
					}
				}
				.beliefs-content{
				position: relative;
				width: 80%; 
				margin: auto;
				@include clearfix;
					.tabcontent {
						display: none;
						//padding: 6px 12px;
						border-top: none;
						width: 100%;
					}
						
					.is-active {
						display: inline-block;
					}
				}
				.background-img{
					background-image: url("../images/Farmdale-Pic-2.jpg");
					background-position: center;
					background-size: cover;
					height: 500px;
					width: 100%;
					// float: right;
					// width: calc(50% - 175px);
					// height: 52vh;
					// margin: -80px 0 0 0;
				}
			}
		}
	}
}

// .container{

// 		#beliefs{ 
// 			height: 50vh;
// 			.heading{
// 				display: inline-block;
// 				margin: auto;
// 				width: 50%;
// 			}
// 			.beliefs-side-bar{
// 				text-align: left;
// 				padding: 30px;
// 				font-size: 21px;
// 				max-width: 175px;
// 				background-color: $darkpink;
// 				display: inline-block;
// 				float:left;

// 				li{
// 					padding: 5px 0;
// 					font-weight: 500;
// 					cursor: pointer;

// 					a{
// 						width: 80px;
// 						outline: 0;
// 						-o-outline: 0;
// 						-moz-outline: 0;
// 						-webkit-outline: 0;
// 					} //a
// 				} //li
// 			} //beliefs side bar
			
// 			.beliefs-content{
// 				float:left;
// 				width: calc(50% - 175px); 
// 				@include clearfix;
// 				.tabcontent {
// 					display: none;
// 					padding: 6px 12px;
// 					border-top: none;
// 				}
					
// 					.is-active {
// 				 	display: inline-block;
// 				 }
// 			}

// 			.background-img{
// 				background-image: url("../images/Farmdale-Pic-2.jpg");
// 				background-position: center;
// 				background-size: cover;
// 				float: right;
// 				width: calc(50% - 175px);
// 				height: 52vh;
// 				margin: -80px 0 0 0;
// 					}

// 	} //beliefs
// }
