.dp-cur, .chip dt, .te, .te-t, .te-rev-s, .rb-n, .rb-i, .agenda, .event-title{
white-space:normal !important;
}

#container{
	background-color: $light;

	.calendar-container{
		width: 70%;
		margin: 109px  auto 0;

		.header{
			.date-controls{
				.nav-table{
					.date-nav-buttons{
						width: 100%;
						.navBack{
							position: absolute;
							top: 20%;
							left: 5%;
						}
						.navForward{
							//background-image: none;
						}
						.navBack{
							display: inline-block;
							font: normal normal normal 14px/1 FontAwesome;
							font-size: inherit;
							text-rendering: auto;
							-webkit-font-smoothing: antialiased;
							-moz-osx-font-smoothing: grayscale;
							&:before{
								content: "\f104";
							}
						}
						.ui-rtsr-unselected{
							padding: 10px 15px;
							background-color: rgba(255,163,37, 0.6);
						}
						#currentDate1 {
						color: #121212;
						/* text-align: center; */
						position: absolute;
						right: 425px;
						font-size: 25px;
						top: 17px;
						}
					}
				}
			}
		}
		table{
			border-collapse: separate;
			border-spacing: 10px;
			td{
				border: 0px;
			}
		}
		.view-cap, .view-container-border {
			background-color: $light;
			.mv-daynames-table{
				// padding: 10px 0;
				border-collapse: collapse;
				border-spacing: 0;
				background-color: rgba(255,163,37, 0.6);

				.mv-dayname{
					font-size: 18px;
					color: #121212;
					font-family: "Source Sans Pro", sans-serif;
					background-color: $light;
					text-align: center;
				//	background-color: rgba(255,163,37, 0.6);
				//	padding: 10px;
				}
			}
			.mv-event-container{
				top: 30px;
			}
		}
		#mvEventContainer2{
			border-radius: 5px;
			.st-dtitle{
				font-size: 15px;
				color: $dark;
				padding: 10px;
				background-color: #fff;
				border-top: 1px solid rgba(255,163,37, 0.6);
			}
			.st-dtitle-today{
				background-color: transparent;
				border-top: 4px solid $accent;
				border-right: 0px;
				border-bottom: 0px;
				border-left: 0px;
			}
			.st-bg-today{
				background-color: transparent;
				opacity: 0.3;
				border: 0 solid $accent;
				border-right: 0 solid $accent;
				border-bottom: 0 solid $accent;
			}
		}
		.bubble-table{
			border-collapse: collapse;
			border-spacing: 10px;
			.bubble-mid{
				.details{
					.title{
						color: $accent;
					}
				}
				.detail-content{
					.detail-item{
						.event-when,
						.event-description{
							color: $dark;
						}
					}
				}
				.links{
					a{
						color: $pink;
					}
				}
			}
		}
		#footer1{
			#timezone{
				color: $dark;
			}
			.subscribe-image{
				display: none;
				visibility: hidden;
			}
		}
	}	
}
.dayCon{
	background-color: #e4e4e4;
	color: #121212;
	padding: 15px 0;
	.dayDetail{
		white-space: normal !important;
		width: 80%;
		margin: auto;
		font-size: 18px;
		border-top: 2px solid #1098eb;
		.event-heading{
			font-size: 30px;
			font-weight: 800;
			font-family: "Source Sans Pro", sans-serif;
			padding: 15px 0;
		}
		.time{
			color: #ff3d52;
		}
	}
}

#containernew{
	width: 100%;
	padding-top: 135px;
	background-color: $light;
	padding-bottom: 30px;
	table {
		width: 80%;
		
		margin: auto;
		// &.table-tophat{
		// 	background-color: rgba(255,163,37, 0.6);
		// 	border-collapse: collapse;
		// }
		// &.table-dayname{
			border-collapse: separate;
			border-spacing: 10px;
		// }
			
		tbody{
			tr{
				align-content: center;
				.title{
						background-color: $light;
						color: $dark;
						font-size: 1.5em;
						align-content: center;
						text-align: center;
						font-weight: bold;
						
						&.arrow{
							font-size: 1em;
						}
				}
				.day{
					background-color: $darkpink;
					color: $dark;

				}
				td{
					color: $dark;
					align-content: center;
					width: calc(100%/7);
					height: 50px;
					border-color: $light;
					border: 4px;
					&.currentMonth{
						text-align: right;
						vertical-align: top;
						padding: 5px;
						border-top: 2px solid rgba(255,163,37, 0.6);
						border-right: 2px solid  rgba(18,18,18, 0.2);
						border-radius: 0 5px 5px 0;
						height: 125px;
						&.event{
							.time{
								text-align: left;
								color: #ff3d52;
								font-size: 14px;
								a{
									color: $dark;
									outline: 0;
									font-size: 14px;
								}
							}
						}
						&.today{
							border-top: 6px solid $accent;
							border-right: 2px solid $accent;
						//	border-radius: 5px;
							color: $dark;
						}
					}
				}
				.arrow{
					//background-color: $light;
					i{
						color: $darkpink;
						// background-color: $accent;
						// border-radius: 55%;
					}
					


				}
				.lastMonth,
				.nextMonth
				{
						background-color: $light;
						color: $pink;
						border-top: 2px solid $pink;
						border-radius: 5px;
				}
			
				.event{
					a{
						color: $light;
					}
				}
			}
		}	
	}
}