/********************  EVENTS *******************
************************************************/

#events {
	background-color: $dark;
	color: $light;

	#{headings()} {
		color: $light;
	}

	.heading {
	  @include pad(1,1);
	  text-align: center;

		h1 {
			font-size: 1.8em;
			font-weight: $bold;	
		} //h1
	}//heading

	h2 {
		color: darken($pink, 20);
		font-size: 1.3em;
		line-height: 110%;
		padding: 10px 0;
		
	} //h2

	p {
		font-size: 1em;
		line-height: 130%;
		text-align: center;
		padding-bottom: 10px;
	} //p

	#cal{
		@include pad(1,1);
		text-align: center;
		
	


	.post{
		position:relative;
		display:inline-block;
		margin:1.5em;
		
		width:180px;

		
		
		text-align:center;
		}

	.calendar{
		
		top:0em;
		padding-top:5px;
		width:180px;
		background:#ededef;
		background: -webkit-gradient(linear, left top, left bottom, from(#ededef), to(#ccc)); 
		background: -moz-linear-gradient(top,  #ededef,  #ccc); 
		font:bold 30px/60px "Lucida Sans Unicode", Arial Black, Arial, Helvetica, sans-serif;
		text-align:center;
		color:#000;
  
		text-shadow:#fff 0 1px 0;	
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;	
		position:absolute;
		-moz-box-shadow:0 2px 2px #888;
		-webkit-box-shadow:0 2px 2px #888;
		box-shadow:0 2px 2px #888;
		}

	.calendar em{
		margin-bottom: -10px;
		display:block;
		font:12px/30px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
		color:#fff;
		text-shadow:#00365a 0 -1px 0;	
		background:#04599a;
		background:-webkit-gradient(linear, left top, left bottom, from(#04599a), to(#00365a)); 
		background:-moz-linear-gradient(top,  #04599a,  #00365a); 
		-moz-border-radius-bottomright:3px;
		-webkit-border-bottom-right-radius:3px;	
		border-bottom-right-radius:3px;
		-moz-border-radius-bottomleft:3px;
		-webkit-border-bottom-left-radius:3px;	
		border-bottom-left-radius:3px;	
		border-top:1px solid #00365a;
		}

	.calendar:before, .calendar:after{
		content:'';
		float:left;
		position:absolute;
		top:5px;	
		width:8px;
		height:8px;
		background:#111;
		z-index:1;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;
		border-radius:10px;
		-moz-box-shadow:0 1px 1px #fff;
		-webkit-box-shadow:0 1px 1px #fff;
		box-shadow:0 1px 1px #fff;
		}
	.calendar:before{left:11px;}	
	.calendar:after{right:11px;}

	.calendar em:before, .calendar em:after{
		content:'';
		float:left;
		position:absolute;
		top:-5px;	
		width:4px;
		height:14px;
		background:#dadada;
		background:-webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#aaa)); 
		background:-moz-linear-gradient(top,  #f1f1f1,  #aaa); 
		z-index:2;
		-moz-border-radius:2px;
		-webkit-border-radius:2px;
		border-radius:2px;
		}
	.calendar em:before{left:13px;}	
	.calendar em:after{right:13px;}	

}//cal

} //events

/****************  MINISTRIES ******************
************************************************/

#ministries {
	color: $light;
	text-align: center;
	
	.fullheight {
	    
		@include backImage('../images/Fam-1.jpg');
		@include display-flex();
		@include justify-content(center);  
		background-position: top;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover; 
		} //fullheight
	

	#{headings()} {
		color: $light;
		} // #{headings()}

	.heading {
		@include pad(1,1);
		text-align: center;
		color: $light;
	
			h1 {
				font-size: 1.8em;
				font-weight: $bold;	
			} //h1
		} //heading

	h2 {
		color: darken($pink, 20);
		font-size: 1.3em;
		line-height: 110%;
		padding: 10px 0;
		} //h2

	p {
		font-size: 1em;
		line-height: 130%;
		text-align: center;
		font-weight: $bold;
		} //p
} //ministries


/*****************  ABOUT US *******************
************************************************/


#about {
	background-color: $dark;
	color: $light;
	text-align: center;

	#{headings()} {
		color: $light;
	} //#{headings()}

	.heading {
		@include pad(1,1);
		text-align: center;
		color: $light;

			h1 {
				font-size: 1.8em;
				font-weight: $bold;	
			} //h1
		}//heading

	h2 {
		color: darken($pink, 20);
		font-size: 1.3em;
		line-height: 110%;
		padding: 10px 0;
		
		} //h2

	p {
		@include pad(1,1);
		font-size: 1em;
		line-height: 130%;
		text-align: center;
		} //p
		
	} //about


/****************** BELIEFS ********************
************************************************/

#beliefs {
	background-color: $dark;
	color: $light;
	

	#{headings()} {
		color: $light;
	}

	.heading {
	  @include pad(1,1);
	  text-align: center;

		h1 {
			font-size: 1.8em;
			font-weight: $bold;	
		} //h1
	}//heading

	h2 {
		color: darken($pink, 20);
		font-size: 1.3em;
		line-height: 110%;
		padding: 10px 0;
		
	} //h2

	p {
		font-size: 1em;
		line-height: 130%;
		text-align: center;
	} //p

} //beliefs

#give {
	background-color: $light;
	color: $dark;
	

	.heading {
	  @include pad(1,1);
	  text-align: center;

		h1 {
			font-size: 1.8em;
			font-weight: $bold;	
		} //h1
	} //heading

	h2 {
		color: darken($pink, 20);
		font-size: 1.3em;
		line-height: 110%;
		padding: 10px 0;
		
		} //h2

	p {
		font-size: 1em;
		line-height: 130%;
		text-align: center;
		} //p

} //give
