.container{
	#events {
	    background-color: rgba(240,240,240,.4);
	    padding-bottom: 60px 0;
	    background-image: url('../images/Photo-Banner/faith-and-elizabeth.jpg');
	    padding: 60px 0;
	    
	    h1{
	    	text-align: center;
	    	color: $light;
	       // padding: 60px 0;
	    }
	    .News-Events-Con {
	        @include clearfix;
	    
	        .update-columns {
	            width: 100%;
	            float: left;
	            position: relative;
	            text-align: center;
	          
	            .update-column {
	                display: inline-block;
	                width: 30vw;
	                margin: 1vw;

	                @media(min-width: $phone) and (max-width: $medium){
	                	width: 40vw;
	                	min-width: 320px;
	                }
	                 @media(max-width: $phone){
	                	width: 80vw;
	                }
	                .update-header {
	                    color: #fff;
	                    text-transform: uppercase;
	                    padding: 25px;
	                    font-size: 2rem;
	                    font-weight: bold;
	                    text-align: left;
	                    height: 86px;
						a{
							position: relative;
							top: -4px;
						
							 @media(max-width: $medium){
		                		float: none;
			                }
			            }
	                }
	                .update-column-content {
	                    height: 500px;
	                    background: rgba(255,255,255,.8);
	                    display: block;
	                    width: 100%;
	                    box-sizing: border-box;
	                    overflow-y: scroll;
	                    text-align: left;
	                    padding: 30px;
	                    position: relative;
	                    color: $dark;
						a{
							width:100%;
						}
	                }
	            }
	            .news-column{
	                .update-header {
	                    background-color: $darkpink;
	                    opacity: 0.8;
	                    color: #fff;
	                    text-transform: uppercase;
	                    padding: 25px;
	                    font-size: 2rem;
	                    font-weight: bold;
	                    text-align: left;
	                    height: 86px;
	                }
	                .update-column-content {
	                    a{
	                        color: #00B21D;
	                        span, p {
	                            color: $dark;
	                            font-size: 18px;
	                        }
	                    }
	                }
	            }

	            .events-column{
	                .update-header{
	                    background-color: $darkpink;
	                    opacity: 0.8;
	                }
	                .update-column-content {
	                    a{
	                        color: $accent;
	                        span, p {
	                            color: $dark;
	                        }
	                        .span{
	                        	font-size: 20px;
	                        }
	                        strong{
	                        	display: block;
	                        	padding-bottom: 10px;
	                        	font-size: 24px;
	                        }
	                    }
	                }
	            }

	            .social-column{
					margin: auto;
					
	                .update-header{
	                    background-color: $darkpink;
	                    opacity: 0.8;
	                    color: #fff;
	                    text-transform: uppercase;
	                    padding: 25px;
	                    font-size: 2rem;
	                    font-weight: bold;
	                    text-align: left;
	                    height: 86px;
	                }
	                .update-column-content {
	                	.view-on-facebook{
	                		width: 40%;
							clear: none;
							max-width: 100%;
							float: left;
							display: block;
							position: relative;
							margin: 0;
		                	.social-photo{
		                		width: 100%; 
		                		height: auto;
		                		min-height: 100px; 
		                		vertical-align: top; 
		                		display: inline-block;
		                		background-size: contain; 
		                		background-repeat: no-repeat;
		                	}
		                }
                		.message{
                			width: 55%; 
                			display: inline-block; 
                			padding: 0 0px;
                			margin-left: 10px;
                			.profile-pic{
                				vertical-align: top; 
                				display: inline-block;
								clear: both;
								margin-bottom: 18px;
                			}
	                		.social-header{	
								vertical-align: top;
								display: inline-block;
								position: absolute;
								right: 0;
								width: calc(53% - 50px);
	                			.posted-by{
	                				vertical-align: top; 
	                				display: block;
	                				font-size: 18px;
	                			}
	                			.time-ago{
	                				display:inline-block;
	                				font-size: 14px;
	                			}
	                		}
                		}
	                    .fb_iframe_widget{
							width: 100%;
							// margin:auto;
							padding: 0px 7%;
						} 
						a{
	                        color: $pink;
	                        span, p {
	                            color: $dark;
	                        }
	                        &:hover{
	                        	color: $dark;
	                        }
	                        .span{
	                        	font-size: 20px;
	                        }
	                        strong{
	                        	display: block;
	                        	padding-bottom: 10px;
	                        }
	                    }
	                }
	            }
	        }
	    }
	}
}
.event-page{
	padding-top: 145px;
	padding-bottom: 45px;
	background-color: $light;
	color: $dark;
	.event-poster{
		width: 39%;
		margin-left: 10%;
		display: inline-block;
		vertical-align: top;
		padding-top: 85px;
		text-align: center;
		.poster{
			width: 400px;
			height: 600px;
		}
	}
	.event-details{
		width: 39%;
		margin-right: 10%;
		display: inline-block;
		h2{
			text-align: center;
		}
		i{
			padding-right: 15px;
			&:before{
				color: $accent;
			}
		}
		ul{
			li{
				list-style-type: disc;
				padding: 8px;
				margin-left: 25px;
				color: $darkpink;
				p{
					color:$dark;
				}
			}
		}
	}
	.container{
		width: 80%;
		margin: auto;
		
		form{
			padding: 25px 0;
			.form-group {
				width:calc(50% - 42px);
				position:relative; 
				margin: 15px 20px;
				display: inline-block;
			} //form-group
			h3{
				padding: 15px 20px;
			}
		}

		label {
			color: #999;
			position:absolute;
			margin: -30px 0 8px 0;
			font-size: 16px;
			display:block;
			top: 46px;
			left: 5px;
			transition:0.9s ease all; 
			-moz-transition:0.9s ease all; 
			-webkit-transition:0.9s ease all;
		} //label

		input:focus ~ label{
			top:32px;
			font-size: 12px;
			color: $accent;
		} // label focus color for select and textarea

		input:valid ~ label{
			top:32px;
			color: #bdbdbd;
			font-size: 12px;
		} //label unselect

		input[type=text] {
			width:100%;
			margin-bottom: 12px;
			padding: 16px 0 16px 24px;
			margin-right: 16px;
			border-top: none;
			border-right: none;
			border-bottom: 1px solid #bdbdbd;
			border-left: none;
			resize: none;
			transition:0.2s ease all; 
			-moz-transition:0.2s ease all; 
			-webkit-transition:0.2s ease all;

			&:focus, {
				outline:none;
				border-bottom: 2px solid $accent;
				box-shadow: none;
			} //focus

		} // textarea

		input[type=email] {
			width:100%;
			margin-bottom: 12px;
			padding: 16px 0 16px 24px;
			margin-right: 16px;
			border-top: none;
			border-right: none;
			border-bottom: 1px solid #bdbdbd;
			border-left: none;
			transition:0.2s ease all; 
			-moz-transition:0.2s ease all; 
			-webkit-transition:0.2s ease all;

			&:focus {
				outline:none;
				box-shadow: none;
			} //focus
		} //input-email

		input[type=number] {
			width:100%;
			margin-bottom: 12px;
			padding: 16px 0 16px 24px;
			margin-right: 16px;
			border-top: none;
			border-right: none;
			border-bottom: 1px solid #bdbdbd;
			border-left: none;
			transition:0.2s ease all; 
			-moz-transition:0.2s ease all; 
			-webkit-transition:0.2s ease all;

			&:focus {
				outline:none;
				box-shadow: none;
			} //focus
		} //input-number

		input:-webkit-autofill {
			background-color: transparent;
		}

		input[type=submit] {
			min-width: 64px; 
			height: 36px; 
			z-index: 0;
			background-color: $accent;
			border: none;
			border-radius: 5px;
			-webkit-border-radius: 5px;
			-o-border-radius: 5px;
			-moz-border-radius: 5px;
			color: #fff;
			font-size: 14px;
			font-weight: 500;
			text-transform: uppercase;
			padding-left: 16px;
			padding-right: 16px;
			box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
			outline: 0;
			-moz-outline-style: none;
			margin-right: 30px;
			margin-left: 20px;
			position: relative;

			&:disabled {
				color: rgba(0, 0, 0, 0.26);
				background-color: rgba(0, 0, 0, 0.26);
			}

			&:hover {
				background-color: rgba(56, 142, 60, 0.76);
				outline: 0;
				-moz-outline-style: none;
			} //:hover

			&:active {
				background-color: $accent;
				box-shadow: 0px 5px 11px rgba(0, 0, 0, 0.4);
				outline: 0;
				-moz-outline-style: none;
			} //:active
		} //submit button
		button.btn.add-more {
			position: absolute;
			right: 0;
			top: 0;
			height: 51px;
			width: 51px;
			background-color: $darkpink;
			font-size: 26px;
			border: 0;
			border-bottom: 1px solid #999;
		}
	} //event page container
} //event page