/****************** baseline ********************
************************************************/


#baseline {
	background-color: $navbrand;
	text-align: center;
	
	#skyline_outer {
		background-color: $navbrand;
		position: relative;
		height: 64px;
	
		#social {
			font:icon;	
			padding-top: .5em;
			
			a {
				color: $light;
				outline: 0;
				transition: 0.4s;
				vertical-align: middle;
				
				&:hover{
					color: #121212;
				}

			}
			
			@include breakpoint($small) {	
				position: absolute;
				left: 50px;
				margin-bottom: 15px;
			} //breakpoint	
			
			ul {
				list-style: none;
				li {
					display: inline;
					padding: 0 auto;
					img {
						width:50px;
						
					} //img
				} //li
			} //ul
		} //social 

		#skyline {
			float: right;
			margin-right: 0px;
			max-height: 107px;
			margin-top: -25px;
	
			 @include breakpoint(max-width $small) {
				 font-size: 1.2em;
				 span {display: none;}
			} //breakpoint	
	
		} //skyline
	} //skyline outer
} //baseline

/****************** FOOTER *******************
***********************************************/

footer {
	background-color: $dark;
	text-align: center;
	line-height: 130%;
	display:inline;
	width: 95%;
	padding: 10px;
	.legal {
		
			.servicetimes{
				h4{
					text-align:left;
					padding:0 1%;
				}
			float: left;
			width: 40vw;
			text-align: left;
			padding:0 2%;
			div{
				float:left;
			}
				
		}
	
		.address {
			float:left;
		}
	}
}