header{
	.container{
		#nav{
			background-color: $navbrand;
			width: 100%;
			height: 121px;
			z-index: 1000;
			position: fixed;
			box-shadow: 2px 2px 10px #121212;

			.top-hat{
				background-color: $dark;
				height: 30px;
				text-align: right;
				.con-content{
					padding: 6px 0;
					a{
						padding: 0 10px;
						color: $darkpink;
					}
				}
			}
			.navbar{
				width: 80%;
				margin: auto;
				position: relative;
				.brand{
					margin-top: 15px;
					position: absolute;
					top: 0px;
					z-index: 100;
					// margin-left: 1.2em;
					// float: left;
					a{
						color: $light;
						text-decoration: none;
						text-align: center;
						display: inline-block;
						font-size: 18px;
						
						#logo {
							width: 125px;
							height: 125px;
							margin: -20px auto;
						//	float: left;
						}

						.script {
							width: 233px;
							margin-top: -.6em;
							@media(max-width: $small){
								display: none;
							}
						}

					} // a
				} // brand
				.button_container{
					position: absolute;
					display: none;
					visibility: hidden;
					cursor: default;
					top: 31px;
					right: 5.5%;
					height: 27px;
					width: 35px;
					cursor: pointer;
					z-index: 100;
					transition: opacity .25s ease;

					@media(max-width: $medium){
						display: inline-block;
						visibility: visible;
					}
					&:hover {
						opacity: .7;
					}

					&.active {
						.top {
							transform: translateY(10px) translateX(0) rotate(45deg);
							background: $dark;
						}
						.middle {
							opacity: 0;
							background: $white;
						}

						.bottom {
							transform: translateY(-10px) translateX(0) rotate(-45deg);
							background: $white;
						} 
					}

					span {
						background: $white;
						border: none;
						height: 5px;
						width: 100%;
						position: absolute;
						top: 0px;
						left: 0;
						transition:  all .35s ease;
						cursor: pointer;

						&:nth-of-type(2) {
							top: 10px;
						}

						&:nth-of-type(3) {
							top: 20px;
						}
					}
				}
				ul{
					position: absolute;
					right: 0;
					display: inline-block;
					li{
						display: inline-block;
						padding: 24px 0;
						a{
							color: $navForeground;
							font-size: 18px;
							font-weight: $bold;
							display: inline-block;
							padding: 8px 8px 8px 8px;
							text-decoration: none;
							outline: none;
							position: relative;
							overflow: hidden;
							text-align: right;

							&:hover{
								background-color: $navbrand;
								color: $dark;
							} //hover

							&:active {
								background-color: $dark;
								color: $pink;
							} //highlight 

							&:after {
								content: '';
								position: absolute;
								background: $white;
								height: 2px;
								width: 0%;
								transform: translateX(-50%);
								left: 50%;
								bottom: 0;
								transition: .35s ease;
							}
							&:hover:after {
								width: 100%;
							}

							@media (max-width: $small) {
								padding: 10px 18px;

								&:after {
									display: block;
								} //&nbsp
								
								span {
									display:none;
								}
							} //breakpoint phone

							@media (max-width: 961px) {
								padding-left: 10px;
								
								span {
									display:none;
								}
							} //breakpoint

							&.active {
								color: $dark;
							}
						} // a
					} // li
				} // ul
				@media(max-width: $medium){
					.overlay {
						position: fixed;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						opacity: 1;
						visibility: hidden;
						transition: opacity .35s, visibility .35s, width .35s;
						z-index: 50;
						&:before {
							content: '';
							background: $pink;
							left: -55%;
							top: 0;
							width: 50%;
							height: 100%;
							position: absolute;
							transition: left .35s ease;
							overflow-x: hidden;
						} //before

						&:after {
							content: '';
							background: $pink;
							right: -55%;
							top: 0;
							width: 50%;
							height: 100%;
							position: absolute;
							transition: all .35s ease;
							overflow-x: hidden;
						} //after
						&.open {
							opacity: .9;
							visibility: visible;
							height: 100%;

							&:before {
								left: 0;
							}

							&:after {
								right: 0;
							}

							.overlay-menu ul li {
								animation: fadeInRight .5s ease forwards;
								animation-delay: .35s;

								&:nth-of-type(2) {
									animation-delay: .45s;
								}
								&:nth-of-type(3) {
									animation-delay: .55s;
								}
								&:nth-of-type(4) {
									animation-delay: .65s;
								}
							}// overlay-menu ul li
						}//open
						.overlay-menu {
							position: relative;
							height: 70%;
							top: 50%;
							transform: translateY(-50%);
							font-size: 50px;
							font-weight: 400;
							text-align: center;
							z-index: 100;
						} //overlay-menu
						.overlay-menu ul {
							list-style: none;
							padding: 0;
							margin: 0 auto;
							display: inline-block;
							position: relative;
							height: 100%; 

							li {
								display: block;
								height: 25%;
								height: calc(100% / 4);
								min-height: 50px;
								position: relative;
								opacity: 0;

								a {
									display: block;
									position: relative;
									color: $white;
									text-decoration: none;
									overflow: hidden;

									&:hover:after,
									&:focus:after,
									&:active:after {
										width: 100%;
									}

									&:after {
										content: '';
										position: absolute;
										bottom: 0;
										left: 50%;
										width: 0%;
										transform: translateX(-50%);
										height: 3px;
										background: $white;
										transition: .35s;
									}//after
								}//a
							} // li
						} //overlay ul
					}//overlay

					@keyframes fadeInRight {
						0% {
							opacity: 0;
							left: 20%;
						}
						100% {
							opacity: 1;
							left: 0;
						}
					} //keyframes
				} // breakpoint for overlay
			} // navbar
		} // #nav
	} //container
} //header



// /****************************
// 		Hamburger Menu
// ****************************/
// nav li a {
//     display: inline-block;
//     position: relative;
//     text-align: right;
//     color: $white;
//     text-decoration: none;
//     font-size: 20px;
//     overflow: hidden;
//     outline: none;
    
    
//     &:after {
//       content: '';
//       position: absolute;
//       background: $white;
//       height: 2px;
//       width: 0%;
//       transform: translateX(-50%);
//       left: 50%;
//       bottom: 0;
//       transition: .35s ease;
//     }
//     &:hover:after {
//       width: 100%;
//     }
//   } 
//


// /****************************
// 		   Nav
// *****************************/
// header #nav {
// 	@include clearfix;
// 	background-color: $navbrand;
// 	width: 100%;
// 	height: 90px;
// 	z-index: 100;
//   box-shadow: 2px 2px 10px #121212;
	  
// 	.navbar {
// 	  @include container;
	  

// 	  .brand {
//        margin-top: .7em;
//        margin-left: 1.2em;
//        float: left;
      
//       a {
//         color: $light;
//         text-decoration: none;
//         text-align: center;
//         display: inline;
        
//          #logo {
//           width: 125px;
//           height: 125px;
//           margin: -1.1em auto;
//           float: left;
//           }
  
//           @include breakpoint(max-width $small) {
//             span {display: none;}
//           } //breakpoint small
    
//           @include breakpoint ($small $medium) {
//             width: 600px;
//             padding-left: 18%;            
//           } //breakpoint medium
//         } //a
       
//      .script {
//         width: 233px;
//         margin-top: -.6em;
       
        
        
//        @include breakpoint(max-width $small) {
//             display: none;
//           } //breakpoint small
//       } //script class
//  	   } //brand
	 
// 	 ul {
    
//     @include breakpoint ($medium) {
//       float: right;
// 			margin: 1.4em auto;
//       }
    
//     li {
// 			text-align: left;
      
//       @include breakpoint ($medium) {
//       float: left;
// 			margin: auto;
//       }

// 			a {
// 			   color: $navForeground;
// 			   font: $mainFont;
// 			   font-weight: $bold;
// 			   font-size: 1em;
// 			   display: inline-block;
// 			   padding: 8px 8px 8px 8px;
// 			   text-decoration: none;
//          outline: none;

// 			   &:hover{
// 			    background-color: $navbrand;
//           color: $dark;
//           } //hover

// 			   &:active {
// 				  background-color: $dark;
// 				  color: $pink;
// 				  } //highlight 

// 			   @include breakpoint (0  $small) {
// 			      padding: 10px 18px;
				 
// 				  &::after {  
// 					 display: block;
// 				    } //&nbsp
// 					span {display:none;}
// 				    } //breakpoint

// 			   @include breakpoint ($small $medium) {
// 			      padding-left: 10px;
// 			      span {display:none;}
// 				 } //breakpoint

// 				&.active {
//           color: $dark; 
//         }
// 		  } //a
// 	   } //li
// 	 } //ul
// 	} //navbar
// } //header #nav




