/****************************
		Intro / Header
*****************************/
header {
	.fullheight {
		@include backImage('../images/Farmdale-Pic-1.jpg');

		@include display-flex();
		@include align-items(center);
		@include justify-content(center);  
		position: relative;

	.hgroup {
		padding: 60px 0;
		position: absolute;
		left: 40px;
		right: 40px;
		bottom: 3.2em;

  @include breakpoint (0  $medium) {
      &::after {
          content: '\000a0';
        display: block;
      } //&nbsp

      span {display:none;}
      bottom: 2em;
      width: 100%;
      left: 0;
      } //breakpoint 
    
  @include breakpoint ($wide) {
      padding: 30px 0;
      position: absolute;
      left: 40px;
      right: 40px;
      bottom: 3.2em;
    }  

		h1 {
			color: $light;
			font-size: 4em;
			font-weight: $bold;
			line-height: .1em;
			
      @include text-shadow($dark 0 0 20px);
			   text-align: center;

			@include breakpoint (0  $medium) {
					span {display:none;}
					font-size: 2.3em;
					line-height: .3em;
					width: 100%;
				  } //breakpoint
		} //h1

		h2 {
			display: block;
			color: $light;
			width: 60%;
			max-width: 200px;
			min-width: 80px;
			margin: 0 auto;
			text-align: center;
			border: 1px solid $light;
			margin-top: 15px;
			padding: 10px;
			background: rgba($headersubbg, .5);
			font-size: 1.3em;

		} //h2


		p {
			text-align: center;
			img {
				padding-top: 50px;
				max-width: 350px;
				max-height: 200px;
				border: 1px solid $light;
				margin-top: 15px;
				padding: 10px;
				background: rgba($headersubbg, .3);
			
				} //img
			} //p
		} //hgroup	  
	} //fullheight
} //header

/****************************
		Hamburger Menu
****************************/
  li a, .brand {
    display: inline-block;
    position: relative;
    text-align: center;
    color: $white;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    
    
    &:after {
      content: '';
      position: absolute;
      background: $white;
      height: 2px;
      width: 0%;
      transform: translateX(-50%);
      left: 50%;
      bottom: 0;
      transition: .35s ease;
    }
    &:hover:after {
      width: 100%;
    }
  } 

.button_container {
  position: fixed;
  top: 3%;
  right: 5.5%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;
  
  
  &:hover {
    opacity: .7;
  }
  
  &.active {
    .top {
      transform: translateY(10px) translateX(0) rotate(45deg);
      background: $dark;
    }
    .middle {
      opacity: 0;
      background: $white;
    }
    
    .bottom {
      transform: translateY(-10px) translateX(0) rotate(-45deg);
      background: $white;
    } 
  }
  
  span {
  @include breakpoint ($medium, $wide) {
    display: none;
    visibility: hidden;
  }
 
  background: $white;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  transition:  all .35s ease;
  cursor: pointer;
    
    &:nth-of-type(2) {
      top: 10px;
    }
    
    &:nth-of-type(3) {
      top: 20px;
      }
    }
  
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, width .35s;
  z-index: 50;
  
  &:before {
    content: '';
    background: $pink;
    left: -55%;
    top: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    transition: left .35s ease;
  }
  
  &:after {
    content: '';
    background: $pink;
    right: -55%;
    top: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    transition: all .35s ease;
  }
  
  &.open {
    opacity: .9;
    visibility: visible;
    height: 100%;
    
    &:before {
      left: 0;
    }
    
    &:after {
      right: 0;
    }
    
  .overlay-menu ul li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s;
      
      &:nth-of-type(2) {
        animation-delay: .45s;
      }
      &:nth-of-type(3) {
        animation-delay: .55s;
      }
      &:nth-of-type(4) {
        animation-delay: .65s;
      }
    } 
  }
  
 
  .overlay-menu {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
   // font-family: 'Vollkorn', serif;
    font-weight: 400;
    text-align: center;
    z-index: 100;
  }
  
  .overlay-menu ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%; 
    
    li {
      display: block;
      height: 25%;
      height: calc(100% / 4);
      min-height: 50px;
      position: relative;
      opacity: 0;
      
      a {
        display: block;
        position: relative;
        color: $white;
        text-decoration: none;
        overflow: hidden;
        
        &:hover:after,
         &:focus:after,
         &:active:after {
           width: 100%;
         }
        
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: $white;
          transition: .35s;
        }
      }
    }
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

/****************************
		   Nav
*****************************/
header #nav {
	@include clearfix;
	background-color: $navbrand;
	width: 100%;
	height: 70px;
	z-index: 100;
  border-bottom: solid 4px $dark;
	  
	.navbar {
	  @include container;
	  margin-top: .7em;

	  .brand {
		@include span(4);
	     float: left;
		 font-weight: $bold;
		 font-family: $headFont;
		 text-align: center;
		 text-transform: uppercase;
		 background: $navbrand;

		 a {
		  color: $light;
		  text-decoration: none;
		  text-align: center;
		  display: inline-block;
		  padding: 8px;
		  font-size: 1.5em;

		  @include breakpoint(max-width $small) {
		     font-size: 1.2em;
			 span {display: none;}
			} //breakpoint small

		  @include breakpoint(max-width $medium) {
		     font-size: 1.2em;

		  @include breakpoint ($small $medium) {
		    	@include span(5);
		    	white-space: nowrap;
		    	padding-left: 10px;
			     
		   } //breakpoint
			 
		   } //breakpoint medium
		 } //a
	  	 } //brand
	 
	 ul {
	   	   
	 
	   li {
			float: right;
			margin: auto;

			a {
			   color: $navForeground;
			   font: $mainFont;
			   font-weight: $bold;
			   font-size: 1em;
			   display: inline-block;
			   padding: 8px 8px 8px 8px;
			   text-decoration: none;

			   &:hover{
			     background-color: $navbrand;
				 color: $dark;
			   } //hover

			   &:active {
				  background-color: $dark;
				  color: $white;
				} //highlight

			   @include breakpoint (0  $small) {
			      padding: 10px 18px;
				 
				  &::after {
				     
					 display: block;
				  } //&nbsp

					span {display:none;}
				  } //breakpoint

			   @include breakpoint ($small $medium) {
			      padding-left: 10px;

			      span {display:none;}

				 } //breakpoint
							 
		} //a
	   } //li
	 } //ul
	} //navbar
} //header #nav

/****************************
		   Welcome
*****************************/


#welcome {
	background-color: $light;
	color: $dark;	

	#{headings()} {
		color: $dark;
	} // #{headings()}

	.heading {
	  @include pad(1,1);
	  text-align: center;

		h1 {
			font-size: 1.8em;
			font-weight: $bold;	
		} //h1
	} //heading
  
	h2 {
		font-size: 1.3em;
		line-height: 110%;
		padding: 10px 0;
	} //h2

	p {
		font-size: 1em;
		line-height: 130%;
		text-align: center;
	} //p
  
  .left{
    float: left;
    width: 50%;
    padding-right: 30px;
    border-right: 1px solid $dark;
  }
  
  .right{
    float: right;
    width: 50%;
    padding-left: 29px; 
  }
} //welcome


/************************************************
		   		   About
************************************************/


#about {
	background-color: $dark;
	color: $light;
	text-align: center;

	#{headings()} {
		color: $light;
	} //#{headings()}

	.heading {
		@include pad(1,1);
		text-align: center;
		color: $light;

			h1 {
				font-size: 1.8em;
				font-weight: $bold;	
			} //h1
		}//heading

	h2 {
		color: darken($pink, 20);
		font-size: 1.3em;
		line-height: 110%;
		padding: 10px 0;
		
		} //h2

	p {
		@include pad(1,1);
		font-size: 1em;
		line-height: 130%;
		text-align: center;
		} //p
		
	} //about