#ministries{
	background-color: $light;
	color: $dark;
	padding: 60px 0 0;

	h2{
		text-align: center;
	}
		img {
		vertical-align: middle;
		}

	.with-padding{
		width: 80%;
		margin:auto;
		padding: 25px 0;
		@include clearfix;

		.min-content-con{
			text-align: left;
			display: inline-block;
			width: 66.6666667%;
			float: left;

			h3{
				padding: 15px;
			}
			p{
				padding: 15px;
			}
			@media(max-width: $small){
					padding: 15px;
					width:100%;
				}

			// h2{
			// text-align: left !important;
			// }

			// p{
			// text-align: left;
			// }
		}

		.img-con{
			width: 33.3333%;
			//max-width: 350px;
			float: left;
			padding-right: 15px;
			position: relative;

			@media(max-width: $small){
				display: block;
				float: none;
				width: 100%;
				margin: auto;
				position: initial

			}

			img{
				width:100%;
				@media(max-width: $small){
					padding: 15px;
				}
			}
		}
		.btn_dark{
			width: 100%;
			max-width: 300px;
		}
	} 

}
// #ministries {
// 	background-color: $light;
// 	color: $dark;
	

// 	#{headings()} {
// 		color: $dark;
// 		} // #{headings()}

// 	.heading {
// 		@include pad(1,1);
// 		text-align: center;
// 		color: $light;
	
// 			h1 {
// 				font-size: 1.8em;
// 				font-weight: $bold;	
// 			} //h1
// 		} //heading

// 	h2 {
// 		font-size: 1.3em;
// 		line-height: 110%;
// 		padding: 10px 0;
// 		} //h2

// 	p {
// 		font-size: 1em;
// 		line-height: 130%;
// 		text-align: center;
	
// 		} //p

// 	img {
// 		vertical-align: middle;
// 		}

// 	.with-padding{
// 		padding: 25px 15% 25px 15%;
// 		  @include clearfix;
//   	} 

// 	  .min-content-con{
// 	    text-align: left;
// 	    display: inline-block;
// 	    width: 66.6666667%;
// 	    float: left;

// 	    h2{
// 	    	text-align: left !important;
// 	    }

// 	    p{
// 	    	text-align: left;
// 	    }
// 	  }

// 	  .img-con{
// 	  	width: 350px;
// 	  	float: left;
// 		margin-right: 15px;
// 	  }

// } //ministries