#new {
	background-image: url('../images/Photo-Banner/easter1.jpg');
	background-size: cover;
	background-position: center;
	height: 100vh;

	.new{
		max-width: 45vw;
		margin-left: 25px;
		background-color: rgba(12,12,12, 0.5);
		padding: 15px;    
		position: relative;
		top: 150px;
		border-radius: 5px;
		
		p{
			text-align: left;
		}
	}
}