.pictures {
    width: 100%;
    min-height: 500px;
    position: relative;
    overflow: hidden;

    &:before{
        content: '';
        display:table;
    }

    .picture{
        height: 275px; 
        width: 20%; 
        margin: 0; 
        display: inline-block; 
        float: left; 
        overflow: hidden;

        .photo {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            transition: transform .5s ease-out;
            background-color: $dark;
            opacity: 0.5;
            filter: alpha(opacity=50);
            &:hover{
                transform: scale(1.1);
                opacity: 1;
                filter: alpha(opacity=50);
                overflow: hidden;
            }
        }
    &.top {
        .photo {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center 15%;
            background-size: cover;
            transition: transform .5s ease-out;
            background-color: $dark;
            opacity: 0.5;
            filter: alpha(opacity=50);
            &:hover{
                transform: scale(1.1);
                opacity: 1;
                filter: alpha(opacity=50);
                overflow: hidden;
                }
            }
        }
    }
}