@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:400,400italic,800,300);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/****************************
      Fonts and Icons
****************************/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?6u9v2m");
  src: url("../fonts/icomoon.eot?6u9v2m#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?6u9v2m") format("truetype"), url("../fonts/icomoon.woff?6u9v2m") format("woff"), url("../fonts/icomoon.svg?6u9v2m#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="data-icon"], [class*=" data-icon"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.data-iconfacebook3:before {
  content: "\e600";
}

.data-icontwitter3:before {
  content: "\e601";
}

.data-iconyoutube:before {
  content: "\e602";
}

[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  margin: 6px;
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 2.4em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Back Image */
body {
  font: 300 1em/1.5em "alegreya sans", Arial, sans-serif;
  background: #121212;
  color: #E4E4E4;
}

/* Body */
h1, h2, h3, h4, h5, h6 {
  font: 300 1em/1.5em "alegreya sans", Arial, sans-serif;
  font-weight: 800;
  font-size: 1.5em;
  text-align: center;
}

/* headings */
strong {
  font-weight: 800;
}

/* Strong */
p {
  font-weight: 400;
  padding-bottom: 10px;
  text-align: center;
  font-size: 1em;
}

/* P */
body {
  width: 100%;
  height: 100%;
}

.scene {
  padding: 20px 0;
}
.scene article {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.scene article:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 1200px) {
  .scene {
    padding: 60px 0;
  }
}
@media (min-width: 960px) {
  .scene article {
    max-width: 70em;
    margin-left: auto;
    margin-right: auto;
  }
  .scene article:after {
    content: " ";
    display: block;
    clear: both;
  }
}

.btn_map {
  display: inline-block;
  color: #121212;
  width: 50%;
  max-width: 160px;
  margin: 0 auto;
  text-align: center;
  border: 1.5px solid #ff325d;
  padding: .3em;
  background: transparent;
  font-size: 1em;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
}
.btn_map:visited {
  color: #121212;
}
.btn_map:hover {
  background-color: #ff325d;
  color: #2a2a2a;
}

.btn_light {
  display: inline-block;
  color: #ffffff;
  width: 50%;
  max-width: 160px;
  margin: 0 auto;
  text-align: center;
  border: 1.5px solid #ff325d;
  padding: .3em;
  background: transparent;
  font-size: 1em;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
}
.btn_light:visited {
  color: #ffffff;
}
.btn_light:hover {
  background-color: #ff325d;
}

.btn_dark {
  display: inline-block;
  color: #121212;
  width: 50%;
  max-width: 160px;
  margin: 0 auto;
  text-align: center;
  border: 1.5px solid #ff325d;
  padding: .3em;
  background: transparent;
  font-size: 1em;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
}
.btn_dark:visited {
  color: #121212;
}
.btn_dark:hover {
  background-color: #ff325d;
  color: #2a2a2a;
}

/****************************
		Intro / Header
*****************************/
header .fullheight {
  background: url("../images/Farmdale-Pic-3.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
}
header .fullheight .hgroup {
  padding: 60px 0;
  position: absolute;
  left: 40px;
  right: 40px;
  bottom: 3.2em;
}
@media (min-width: 0) and (max-width: 960px) {
  header .fullheight .hgroup {
    bottom: 2em;
    width: 100%;
    left: 0;
  }
  header .fullheight .hgroup::after {
    content: '\000a0';
    display: block;
  }
  header .fullheight .hgroup span {
    display: none;
  }
}
@media (min-width: 1200px) {
  header .fullheight .hgroup {
    padding: 100px 0;
    position: absolute;
    left: 40px;
    right: 40px;
    bottom: 3.2em;
  }
}
header .fullheight .hgroup h1 {
  color: #E4E4E4;
  font-size: 4em;
  font-weight: 800;
  line-height: .1em;
  text-shadow: #121212 0 0 20px;
  text-align: center;
}
@media (min-width: 0) and (max-width: 960px) {
  header .fullheight .hgroup h1 {
    font-size: 2.3em;
    line-height: .3em;
    width: 100%;
  }
  header .fullheight .hgroup h1 span {
    display: none;
  }
}
header .fullheight .hgroup h2 {
  display: block;
  color: #E4E4E4;
  width: 60%;
  max-width: 200px;
  min-width: 80px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #E4E4E4;
  margin-top: 25px;
  padding: 10px;
  background: rgba(18, 18, 18, 0.5);
  font-size: 1.3em;
}
header .fullheight .hgroup p {
  text-align: center;
}
header .fullheight .hgroup p img {
  padding-top: 50px;
  max-width: 350px;
  max-height: 200px;
  border: 1px solid #E4E4E4;
  margin-top: 15px;
  padding: 10px;
  background: rgba(18, 18, 18, 0.3);
}

/****************************
		Hamburger Menu
****************************/
li a {
  display: inline-block;
  position: relative;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
}
li a:after {
  content: '';
  position: absolute;
  background: #ffffff;
  height: 2px;
  width: 0%;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  transition: .35s ease;
}
li a:hover:after {
  width: 100%;
}

@media (max-width: 960px) {
  .button_container {
    position: fixed;
    top: 31px;
    right: 5.5%;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    transition: opacity .25s ease;
  }
}
@media (max-width: 960px) and (min-width: 960px) {
  .button_container {
    display: none;
    visibility: hidden;
    cursor: default;
  }
}
@media (max-width: 960px) {
  .button_container:hover {
    opacity: .7;
  }
  .button_container.active .top {
    transform: translateY(10px) translateX(0) rotate(45deg);
    background: #121212;
  }
  .button_container.active .middle {
    opacity: 0;
    background: #ffffff;
  }
  .button_container.active .bottom {
    transform: translateY(-10px) translateX(0) rotate(-45deg);
    background: #ffffff;
  }
  .button_container span {
    background: #ffffff;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    transition: all .35s ease;
    cursor: pointer;
  }
  .button_container span:nth-of-type(2) {
    top: 10px;
  }
  .button_container span:nth-of-type(3) {
    top: 20px;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, width .35s;
    z-index: 50;
  }
  .overlay:before {
    content: '';
    background: #ff325d;
    left: -55%;
    top: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    transition: left .35s ease;
  }
  .overlay:after {
    content: '';
    background: #ff325d;
    right: -55%;
    top: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    transition: all .35s ease;
  }
  .overlay.open {
    opacity: .9;
    visibility: visible;
    height: 100%;
  }
  .overlay.open:before {
    left: 0;
  }
  .overlay.open:after {
    right: 0;
  }
  .overlay.open .overlay-menu ul li {
    animation: fadeInRight .5s ease forwards;
    animation-delay: .35s;
  }
  .overlay.open .overlay-menu ul li:nth-of-type(2) {
    animation-delay: .45s;
  }
  .overlay.open .overlay-menu ul li:nth-of-type(3) {
    animation-delay: .55s;
  }
  .overlay.open .overlay-menu ul li:nth-of-type(4) {
    animation-delay: .65s;
  }
  .overlay .overlay-menu {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    z-index: 100;
  }
  .overlay .overlay-menu ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
  }
  .overlay .overlay-menu ul li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0;
  }
  .overlay .overlay-menu ul li a {
    display: block;
    position: relative;
    color: #ffffff;
    text-decoration: none;
    overflow: hidden;
  }
  .overlay .overlay-menu ul li a:hover:after, .overlay .overlay-menu ul li a:focus:after, .overlay .overlay-menu ul li a:active:after {
    width: 100%;
  }
  .overlay .overlay-menu ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    transform: translateX(-50%);
    height: 3px;
    background: #ffffff;
    transition: .35s;
  }

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }
}
/****************************
		   Nav
*****************************/
header #nav {
  background-color: #ff325d;
  width: 100%;
  height: 90px;
  z-index: 100;
  border-bottom: solid 4px #121212;
}
header #nav:before, header #nav:after {
  content: '';
  display: table;
}
header #nav:after {
  clear: both;
}
header #nav .navbar {
  max-width: 70em;
  margin-left: auto;
  margin-right: auto;
}
header #nav .navbar:after {
  content: " ";
  display: block;
  clear: both;
}
header #nav .navbar .brand {
  margin-top: .7em;
  margin-left: 1.2em;
  float: left;
}
header #nav .navbar .brand a {
  color: #E4E4E4;
  text-decoration: none;
  text-align: center;
}
header #nav .navbar .brand a #logo {
  width: 125px;
  height: 125px;
  margin: -1.1em auto;
  float: left;
}
@media (max-width: 650px) {
  header #nav .navbar .brand a span {
    display: none;
  }
}
@media (min-width: 650px) and (max-width: 960px) {
  header #nav .navbar .brand a {
    width: 600px;
    padding-left: 18%;
  }
}
header #nav .navbar .brand .script {
  width: 233px;
  margin-top: -.6em;
}
@media (max-width: 650px) {
  header #nav .navbar .brand .script {
    display: none;
  }
}
@media (min-width: 960px) {
  header #nav .navbar ul {
    float: right;
    margin: 1.4em auto;
  }
}
header #nav .navbar ul li {
  text-align: left;
}
@media (min-width: 960px) {
  header #nav .navbar ul li {
    float: right;
    margin: auto;
  }
}
header #nav .navbar ul li a {
  color: #E4E4E4;
  font: 300 1em/1.5em "alegreya sans", Arial, sans-serif;
  font-weight: 800;
  font-size: 1em;
  display: inline-block;
  padding: 8px 8px 8px 8px;
  text-decoration: none;
}
header #nav .navbar ul li a:hover {
  background-color: #ff325d;
  color: #121212;
}
header #nav .navbar ul li a:active {
  background-color: #121212;
  color: #ff325d;
}
@media (min-width: 0) and (max-width: 650px) {
  header #nav .navbar ul li a {
    padding: 10px 18px;
  }
  header #nav .navbar ul li a::after {
    display: block;
  }
  header #nav .navbar ul li a span {
    display: none;
  }
}
@media (min-width: 650px) and (max-width: 960px) {
  header #nav .navbar ul li a {
    padding-left: 10px;
  }
  header #nav .navbar ul li a span {
    display: none;
  }
}
header #nav .navbar ul li a.active {
  color: #121212;
}

/****************************
		   Welcome
*****************************/
#welcome {
  background-color: #E4E4E4;
  color: #121212;
}
#welcome h1, #welcome h2, #welcome h3, #welcome h4, #welcome h5, #welcome h6 {
  color: #121212;
}
#welcome .heading {
  padding-left: 9.16667%;
  padding-right: 9.16667%;
  text-align: center;
}
#welcome .heading h1 {
  font-size: 1.8em;
  font-weight: 800;
}
#welcome h2 {
  font-size: 1.3em;
  line-height: 110%;
  padding: 10px 0;
}
#welcome p {
  font-size: 1em;
  line-height: 130%;
  text-align: center;
}
#welcome .left {
  float: left;
  width: 50%;
  padding-right: 30px;
  border-right: 1px solid #121212;
}
#welcome .right {
  float: right;
  width: 50%;
  padding-left: 29px;
}

/************************************************
		   		   About
************************************************/
#about {
  color: #E4E4E4;
  text-align: center;
  text-shadow: 2px 2px #121212;
}
#about .fullheight {
  background: url("../images/Farmdale-Pic-1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#about h1, #about h2, #about h3, #about h4, #about h5, #about h6 {
  color: #E4E4E4;
}
#about .heading {
  padding-left: 9.16667%;
  padding-right: 9.16667%;
  text-align: center;
  color: #E4E4E4;
}
#about .heading h1 {
  font-size: 1.8em;
  font-weight: 800;
}
#about h2 {
  color: #cb002b;
  font-size: 1.3em;
  line-height: 110%;
  padding: 10px 0;
}
#about p {
  font-size: 1em;
  line-height: 130%;
  text-align: center;
}

/********************  EVENTS *******************
************************************************/
#events {
  background-color: #121212;
  color: #E4E4E4;
}
#events h1, #events h2, #events h3, #events h4, #events h5, #events h6 {
  color: #E4E4E4;
}
#events .heading {
  padding-left: 9.16667%;
  padding-right: 9.16667%;
  text-align: center;
}
#events .heading h1 {
  font-size: 1.8em;
  font-weight: 800;
}
#events h2 {
  color: #cb002b;
  font-size: 1.3em;
  line-height: 110%;
  padding: 10px 0;
}
#events p {
  font-size: 1em;
  line-height: 130%;
  text-align: center;
  padding-bottom: 10px;
}
#events #Cal {
  margin-right: 23%;
  margin-left: 23%;
  padding-top: 20px;
}

/****************  Ministries ******************
************************************************/
#ministries {
  background-color: #121212;
  color: #E4E4E4;
  text-align: center;
}
#ministries h1, #ministries h2, #ministries h3, #ministries h4, #ministries h5, #ministries h6 {
  color: #E4E4E4;
}
#ministries .heading {
  padding-left: 9.16667%;
  padding-right: 9.16667%;
  text-align: center;
  color: #E4E4E4;
}
#ministries .heading h1 {
  font-size: 1.8em;
  font-weight: 800;
}
#ministries h2 {
  color: #cb002b;
  font-size: 1.3em;
  line-height: 110%;
  padding: 10px 0;
}
#ministries p {
  font-size: 1em;
  line-height: 130%;
  text-align: center;
  font-weight: 800;
}

/****************** Staff **********************
************************************************/
#staff {
  background-color: #E4E4E4;
  color: #121212;
  /*
  	h2 {
  		color: darken($pink, 20);
  		font-size: 1.3em;
  		line-height: 110%;
  		padding: 10px 0;
  		
  	} //h2*/
}
#staff:before, #staff:after {
  content: '';
  display: table;
}
#staff:after {
  clear: both;
}
#staff h1, #staff h2, #staff h3, #staff h4, #staff h5, #staff h6 {
  color: #121212;
}
#staff .heading {
  padding-left: 9.16667%;
  padding-right: 9.16667%;
  text-align: center;
}
#staff .heading h1 {
  font-size: 1.8em;
  font-weight: 800;
}
@media (min-width: 960px) {
  #staff .line1 {
    height: 460px;
  }
}
#staff .line1 #leadPastor img {
  height: 25%;
  width: 25%;
  margin: 10px 38% 10px 38%;
}
@media (min-width: 960px) {
  #staff .line1 #leadPastor {
    float: left;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 50%;
  }
  #staff .line1 #leadPastor img {
    height: 40%;
    width: 40%;
    margin: 10px 38% 10px 30%;
  }
  #staff .line1 #leadPastor h4 {
    margin: auto;
  }
}
#staff .line1 #youthPastor img {
  height: 25%;
  width: 25%;
  margin: 10px 38% 10px 38%;
}
@media (min-width: 960px) {
  #staff .line1 #youthPastor {
    float: left;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 50%;
  }
  #staff .line1 #youthPastor img {
    height: 41.5%;
    width: 41.5%;
    margin: 10px 38% 10px 30%;
  }
  #staff .line1 #youthPastor h4 {
    margin: auto;
  }
}
@media (min-width: 960px) {
  #staff .line2 {
    height: 460px;
  }
}
#staff .line2 #worshipPastor img {
  height: 25%;
  width: 25%;
  margin: 10px 38% 10px 38%;
}
@media (min-width: 960px) {
  #staff .line2 #worshipPastor {
    float: left;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 50%;
  }
  #staff .line2 #worshipPastor img {
    height: 40%;
    width: 40%;
    margin: 10px 38% 10px 30%;
  }
  #staff .line2 #worshipPastor h4 {
    margin: auto;
  }
}
#staff .line2 #childrenLeader img {
  height: 25%;
  width: 25%;
  margin: 10px 38% 10px 38%;
}
@media (min-width: 960px) {
  #staff .line2 #childrenLeader {
    float: left;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 50%;
  }
  #staff .line2 #childrenLeader img {
    height: 41.5%;
    width: 41.5%;
    margin: 10px 38% 10px 30%;
  }
  #staff .line2 #childrenLeader h4 {
    margin: auto;
  }
}

/****************** baseline ********************
************************************************/
#baseline {
  background-color: #ff325d;
  text-align: center;
}
#baseline #skyline_outer {
  background-color: #ff325d;
  position: relative;
  height: 64px;
}
#baseline #skyline_outer #social {
  font: icon;
  padding-top: .5em;
}
#baseline #skyline_outer #social a {
  color: #E4E4E4;
  text-shadow: 1px 2px #121212;
}
@media (min-width: 650px) {
  #baseline #skyline_outer #social {
    position: absolute;
    left: 50px;
    bottom-margin: 15px;
  }
}
#baseline #skyline_outer #social ul {
  list-style: none;
}
#baseline #skyline_outer #social ul li {
  display: inline;
  padding: 0 auto;
}
#baseline #skyline_outer #social ul li img {
  width: 50px;
}
#baseline #skyline_outer #skyline {
  float: right;
  margin-right: 0px;
  max-height: 107px;
  margin-top: -25px;
}
@media (max-width: 650px) {
  #baseline #skyline_outer #skyline {
    font-size: 1.2em;
  }
  #baseline #skyline_outer #skyline span {
    display: none;
  }
}

/****************** FOOTER ********************
***********************************************/
footer {
  background-color: #121212;
  text-align: center;
  line-height: 130%;
  display: inline;
}
