@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:400,400italic,800,300);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Back Image */
body {
  font: 300 1em/1.5em "alegreya sans", Arial, sans-serif;
  background: #121212;
  color: #E4E4E4;
}

/* Body */
h1, h2, h3, h4, h5, h6 {
  font: 300 1em/1.5em "alegreya sans", Arial, sans-serif;
  font-weight: 800;
  font-size: 1.5em;
  text-align: center;
}

/* headings */
strong {
  font-weight: 800;
}

/* Strong */
p {
  font-weight: 400;
  padding-bottom: 10px;
  text-align: center;
  font-size: 1em;
}

/* P */
body {
  position: absolute;
  width: 100%;
  height: 100%;
}

.scene {
  position: relative;
  padding: 20px 0;
}
.scene article {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.scene article:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 1200px) {
  .scene {
    padding: 60px 0;
  }
}
@media (min-width: 960px) {
  .scene article {
    max-width: 70em;
    margin-left: auto;
    margin-right: auto;
  }
  .scene article:after {
    content: " ";
    display: block;
    clear: both;
  }
}

.btn_map {
  display: inline-block;
  color: #121212;
  width: 50%;
  max-width: 160px;
  margin: 0 auto;
  text-align: center;
  border: 1.5px solid #ff325d;
  padding: .3em;
  background: transparent;
  font-size: 1em;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
}
.btn_map:visited {
  color: #121212;
}
.btn_map:hover {
  background-color: #ff325d;
  color: #2a2a2a;
}

.btn_light {
  display: inline-block;
  color: #ffffff;
  width: 50%;
  max-width: 160px;
  margin: 0 auto;
  text-align: center;
  border: 1.5px solid #ff325d;
  padding: .3em;
  background: transparent;
  font-size: 1em;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
}
.btn_light:visited {
  color: #ffffff;
}
.btn_light:hover {
  background-color: #ff325d;
}

.btn_cal {
  display: inline-block;
  color: #ffffff;
  width: 50%;
  max-width: 160px;
  margin: 0 auto;
  text-align: center;
  border: 1.5px solid #ff325d;
  padding: .3em;
  background: transparent;
  font-size: 1em;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
}
.btn_cal:visited {
  color: #ffffff;
}
.btn_cal:hover {
  background-color: #ff325d;
  color: #ffffff;
}

.btn_dark {
  display: inline-block;
  color: #121212;
  width: 50%;
  max-width: 160px;
  margin: 0 auto;
  text-align: center;
  border: 1.5px solid #ff325d;
  padding: .3em;
  background: transparent;
  font-size: 1em;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
}
.btn_dark:visited {
  color: #121212;
}
.btn_dark:hover {
  background-color: #ff325d;
  color: #2a2a2a;
}

/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}

#cboxWrapper {
  max-width: none;
}

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

#cboxMiddleLeft, #cboxBottomLeft {
  clear: left;
}

#cboxContent {
  position: relative;
}

#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#cboxTitle {
  margin: 0;
}

#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer;
}

.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
  -ms-interpolation-mode: bicubic;
}

.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}

#colorbox, #cboxContent, #cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay {
  background: #000;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

#colorbox {
  outline: 0;
}

#cboxTopLeft {
  width: 25px;
  height: 25px;
  background: url(../images/colorbox/border1.png) no-repeat 0 0;
}

#cboxTopCenter {
  height: 25px;
  background: url(../images/colorbox/border1.png) repeat-x 0 -50px;
}

#cboxTopRight {
  width: 25px;
  height: 25px;
  background: url(../images/colorbox/border1.png) no-repeat -25px 0;
}

#cboxBottomLeft {
  width: 25px;
  height: 25px;
  background: url(../images/colorbox/border1.png) no-repeat 0 -25px;
}

#cboxBottomCenter {
  height: 25px;
  background: url(../images/colorbox/border1.png) repeat-x 0 -75px;
}

#cboxBottomRight {
  width: 25px;
  height: 25px;
  background: url(../images/colorbox/border1.png) no-repeat -25px -25px;
}

#cboxMiddleLeft {
  width: 25px;
  background: url(../images/colorbox/border2.png) repeat-y 0 0;
}

#cboxMiddleRight {
  width: 25px;
  background: url(../images/colorbox/border2.png) repeat-y -25px 0;
}

#cboxContent {
  background: #fff;
  overflow: hidden;
}

.cboxIframe {
  background: #fff;
}

#cboxError {
  padding: 50px;
  border: 1px solid #ccc;
}

#cboxLoadedContent {
  margin-bottom: 20px;
}

#cboxTitle {
  position: absolute;
  bottom: 0px;
  left: 0;
  text-align: center;
  width: 100%;
  color: #999;
}

#cboxCurrent {
  position: absolute;
  bottom: 0px;
  left: 100px;
  color: #999;
}

#cboxLoadingOverlay {
  background: #fff url(../images/colorbox/loading.gif) no-repeat 5px 5px;
}

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  width: auto;
  background: none;
}

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
  outline: 0;
}

#cboxSlideshow {
  position: absolute;
  bottom: 0px;
  right: 42px;
  color: #444;
}

#cboxPrevious {
  position: absolute;
  bottom: 0px;
  left: 0;
  color: #444;
}

#cboxNext {
  position: absolute;
  bottom: 0px;
  left: 63px;
  color: #444;
}

#cboxClose {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  color: #444;
}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

header #nav {
  background-color: #ff325d;
  width: 100%;
  height: 60px;
  z-index: 100;
}
header #nav:before, header #nav:after {
  content: '';
  display: table;
}
header #nav:after {
  clear: both;
}
header #nav .navbar {
  max-width: 70em;
  margin-left: auto;
  margin-right: auto;
  margin-top: .7em;
}
header #nav .navbar:after {
  content: " ";
  display: block;
  clear: both;
}
header #nav .navbar .brand {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  float: left;
  font-weight: 800;
  font-family: 300 1.5em/1.5em "alegreya sans", Arial, sans-serif;
  text-align: center;
  text-transfrom: uppercase;
  background: #ff325d;
}
header #nav .navbar .brand a {
  color: #E4E4E4;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 8px;
  font-size: 1.5em;
}
@media (max-width: 650px) {
  header #nav .navbar .brand a {
    font-size: 1.2em;
  }
  header #nav .navbar .brand a span {
    display: none;
  }
}
@media (max-width: 960px) {
  header #nav .navbar .brand a {
    font-size: 1.2em;
  }
}
@media (max-width: 960px) and (min-width: 650px) and (max-width: 960px) {
  header #nav .navbar .brand a {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 41.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    white-space: nowrap;
    padding-left: 10px;
  }
}

header #nav .navbar ul li {
  float: right;
  margin: auto;
}
header #nav .navbar ul li a {
  color: #E4E4E4;
  font: 300 1em/1.5em "alegreya sans", Arial, sans-serif;
  font-weight: 800;
  font-size: 1em;
  display: inline-block;
  padding: 8px 8px 8px 8px;
  text-decoration: none;
}
header #nav .navbar ul li a:hover {
  background-color: #ff325d;
  color: #121212;
}
header #nav .navbar ul li a:active {
  background-color: #121212;
  color: #ffffff;
}
@media (min-width: 0) and (max-width: 650px) {
  header #nav .navbar ul li a {
    padding: 10px 18px;
  }
  header #nav .navbar ul li a::after {
    display: block;
  }
  header #nav .navbar ul li a span {
    display: none;
  }
}
@media (min-width: 650px) and (max-width: 960px) {
  header #nav .navbar ul li a {
    padding-left: 10px;
  }
  header #nav .navbar ul li a span {
    display: none;
  }
}

/****************************
		Intro / Header
*****************************/
header .fullheight {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/Farmdale-Pic-1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
}
header .fullheight .hgroup {
  paddding: 100px 0;
  position: absolute;
  left: 40px;
  right: 40px;
  bottom: 3.2em;
}
@media (min-width: 0) and (max-width: 650px) {
  header .fullheight .hgroup {
    bottom: 2em;
    width: 100%;
    left: 0;
  }
  header .fullheight .hgroup::after {
    content: '\000a0';
    display: block;
  }
  header .fullheight .hgroup span {
    display: none;
  }
}
header .fullheight .hgroup h1 {
  color: #E4E4E4;
  font-size: 4em;
  font-weight: 800;
  line-height: .8em;
  text-shadow: #121212 0 0 20px;
  text-align: center;
}
@media (min-width: 0) and (max-width: 650px) {
  header .fullheight .hgroup h1 {
    font-size: 2.3em;
    line-height: .3em;
    width: 100%;
  }
  header .fullheight .hgroup h1 span {
    display: none;
  }
}
header .fullheight .hgroup h2 {
  display: block;
  color: #E4E4E4;
  width: 60%;
  max-width: 200px;
  min-width: 80px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #E4E4E4;
  margin-top: 15px;
  padding: 10px;
  background: rgba(18, 18, 18, 0.5);
  font-size: 1.3em;
}
@media (min-width: 0) and (max-width: 650px) {
  header .fullheight .hgroup h2 {
    font-size: 1em;
    max-height: 75px;
    width: 100%;
  }
  header .fullheight .hgroup h2 span {
    display: none;
  }
}
header .fullheight .hgroup p {
  text-align: center;
}
header .fullheight .hgroup p img {
  padding-top: 50px;
  max-width: 350px;
  max-height: 200px;
  border: 1px solid #E4E4E4;
  margin-top: 15px;
  padding: 10px;
  background: rgba(18, 18, 18, 0.3);
}

/****************************
		   Welcome
*****************************/
#welcome {
  background-color: #E4E4E4;
  color: #121212;
}
#welcome h1, #welcome h2, #welcome h3, #welcome h4, #welcome h5, #welcome h6 {
  color: #121212;
}
#welcome .heading {
  padding-left: 9.16667%;
  padding-right: 9.16667%;
  text-align: center;
}
#welcome .heading h1 {
  font-size: 1.8em;
  font-weight: 800;
}
#welcome h2 {
  color: #cb002b;
  font-size: 1.3em;
  line-height: 110%;
  padding: 10px 0;
}
#welcome p {
  font-size: 1em;
  line-height: 130%;
  text-align: center;
}

/************************************************
		   		   About
************************************************/
#about {
  background-color: #121212;
  color: #E4E4E4;
  text-align: center;
}
#about h1, #about h2, #about h3, #about h4, #about h5, #about h6 {
  color: #E4E4E4;
}
#about .heading {
  padding-left: 9.16667%;
  padding-right: 9.16667%;
  text-align: center;
  color: #E4E4E4;
}
#about .heading h1 {
  font-size: 1.8em;
  font-weight: 800;
}
#about h2 {
  color: #cb002b;
  font-size: 1.3em;
  line-height: 110%;
  padding: 10px 0;
}
#about p {
  padding-left: 9.16667%;
  padding-right: 9.16667%;
  font-size: 1em;
  line-height: 130%;
  text-align: center;
}

/********************  EVENTS *******************
************************************************/
#events {
  background-color: #121212;
  color: #E4E4E4;
}
#events h1, #events h2, #events h3, #events h4, #events h5, #events h6 {
  color: #E4E4E4;
}
#events .heading {
  padding-left: 9.16667%;
  padding-right: 9.16667%;
  text-align: center;
}
#events .heading h1 {
  font-size: 1.8em;
  font-weight: 800;
}
#events h2 {
  color: #cb002b;
  font-size: 1.3em;
  line-height: 110%;
  padding: 10px 0;
}
#events p {
  font-size: 1em;
  line-height: 130%;
  text-align: center;
  padding-bottom: 10px;
}
#events #cal {
  padding-left: 9.16667%;
  padding-right: 9.16667%;
  text-align: center;
}
#events #cal .post {
  position: relative;
  display: inline-block;
  margin: 1.5em;
  width: 180px;
  text-align: center;
}
#events #cal .calendar {
  top: 0em;
  padding-top: 5px;
  width: 180px;
  background: #ededef;
  background: -webkit-gradient(linear, left top, left bottom, left, right);
  background: -moz-linear-gradient(top, #ededef, #ccc);
  font: bold 30px/60px "Lucida Sans Unicode", Arial Black, Arial, Helvetica, sans-serif;
  text-align: center;
  color: #000;
  text-shadow: #fff 0 1px 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  -moz-box-shadow: 0 2px 2px #888;
  -webkit-box-shadow: 0 2px 2px #888;
  box-shadow: 0 2px 2px #888;
}
#events #cal .calendar em {
  margin-bottom: -10px;
  display: block;
  font: 12px/30px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  color: #fff;
  text-shadow: #00365a 0 -1px 0;
  background: #04599a;
  background: -webkit-gradient(linear, left top, left bottom, left, right);
  background: -moz-linear-gradient(top, #04599a, #00365a);
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #00365a;
}
#events #cal .calendar:before, #events #cal .calendar:after {
  content: '';
  float: left;
  position: absolute;
  top: 5px;
  width: 8px;
  height: 8px;
  background: #111;
  z-index: 1;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 1px 1px #fff;
  -webkit-box-shadow: 0 1px 1px #fff;
  box-shadow: 0 1px 1px #fff;
}
#events #cal .calendar:before {
  left: 11px;
}
#events #cal .calendar:after {
  right: 11px;
}
#events #cal .calendar em:before, #events #cal .calendar em:after {
  content: '';
  float: left;
  position: absolute;
  top: -5px;
  width: 4px;
  height: 14px;
  background: #dadada;
  background: -webkit-gradient(linear, left top, left bottom, left, right);
  background: -moz-linear-gradient(top, #f1f1f1, #aaa);
  z-index: 2;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
#events #cal .calendar em:before {
  left: 13px;
}
#events #cal .calendar em:after {
  right: 13px;
}

/****************  MINISTRIES ******************
************************************************/
#ministries {
  color: #E4E4E4;
  text-align: center;
}
#ministries .fullheight {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/Fam-1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#ministries h1, #ministries h2, #ministries h3, #ministries h4, #ministries h5, #ministries h6 {
  color: #E4E4E4;
}
#ministries .heading {
  padding-left: 9.16667%;
  padding-right: 9.16667%;
  text-align: center;
  color: #E4E4E4;
}
#ministries .heading h1 {
  font-size: 1.8em;
  font-weight: 800;
}
#ministries h2 {
  color: #cb002b;
  font-size: 1.3em;
  line-height: 110%;
  padding: 10px 0;
}
#ministries p {
  font-size: 1em;
  line-height: 130%;
  text-align: center;
  font-weight: 800;
}

/*****************  ABOUT US *******************
************************************************/
#about {
  background-color: #121212;
  color: #E4E4E4;
  text-align: center;
}
#about h1, #about h2, #about h3, #about h4, #about h5, #about h6 {
  color: #E4E4E4;
}
#about .heading {
  padding-left: 9.16667%;
  padding-right: 9.16667%;
  text-align: center;
  color: #E4E4E4;
}
#about .heading h1 {
  font-size: 1.8em;
  font-weight: 800;
}
#about h2 {
  color: #cb002b;
  font-size: 1.3em;
  line-height: 110%;
  padding: 10px 0;
}
#about p {
  padding-left: 9.16667%;
  padding-right: 9.16667%;
  font-size: 1em;
  line-height: 130%;
  text-align: center;
}

/****************** BELIEFS ********************
************************************************/
#beliefs {
  background-color: #121212;
  color: #E4E4E4;
}
#beliefs h1, #beliefs h2, #beliefs h3, #beliefs h4, #beliefs h5, #beliefs h6 {
  color: #E4E4E4;
}
#beliefs .heading {
  padding-left: 9.16667%;
  padding-right: 9.16667%;
  text-align: center;
}
#beliefs .heading h1 {
  font-size: 1.8em;
  font-weight: 800;
}
#beliefs h2 {
  color: #cb002b;
  font-size: 1.3em;
  line-height: 110%;
  padding: 10px 0;
}
#beliefs p {
  font-size: 1em;
  line-height: 130%;
  text-align: center;
}

#give {
  background-color: #E4E4E4;
  color: #121212;
}
#give .heading {
  padding-left: 9.16667%;
  padding-right: 9.16667%;
  text-align: center;
}
#give .heading h1 {
  font-size: 1.8em;
  font-weight: 800;
}
#give h2 {
  color: #cb002b;
  font-size: 1.3em;
  line-height: 110%;
  padding: 10px 0;
}
#give p {
  font-size: 1em;
  line-height: 130%;
  text-align: center;
}

/****************** baseline ********************
************************************************/
#baseline {
  background-color: #121212;
  text-align: center;
}
#baseline #skyline_outer {
  background-color: #ff325d;
  position: relative;
  height: 64px;
}
#baseline #skyline_outer #social {
  background-color: transparent;
  position: absolute;
  left: 50px;
  top: 8px;
  /* add flexbox */
}
#baseline #skyline_outer #social ul {
  list-style: none;
}
#baseline #skyline_outer #social ul li {
  display: inline;
  padding: 0 auto;
}
#baseline #skyline_outer #social ul li img {
  width: 50px;
}
#baseline #skyline_outer #skyline {
  postition: fixed;
  float: right;
  margin-right: 0px;
  max-height: 107px;
  margin-top: -25px;
}
@media (max-width: 650px) {
  #baseline #skyline_outer #skyline {
    font-size: 1.2em;
  }
  #baseline #skyline_outer #skyline span {
    display: none;
  }
}

/****************** FOOTER ********************
***********************************************/
#footer {
  background-color: #121212;
  text-align: center;
  line-height: 130%;
  display: inline;
}
