<div class="event-page">
	<div class="event-poster">
		<img src="" class="poster"/>
	</div>
	<div class="event-details">
		<h2>3 on 3 Basketball Tournament</h2>
		<div class="explanation">
			Farmdale Children and Livewire Ministries host a 3 on 3 basketball tournament to raise money for the various events they do with the students. 
		</div>
		<div class="details">
			<h3><i class="fa fa-usd" aria-hidden="true"></i>Cost</h3>
			<p> $10 per team member</p>

			<h3><i class="fa fa-users" aria-hidden="true"></i>Team</h3>
			<p>Each team consists of 3 player with a maximum of 5 players</p>

			<h3><i class="fa fa-trophy" aria-hidden="true"></i>Prize</h3>
			<p>The winning team recieves $50</p>
			<p>Second place recieves $25</p>
		</div>
		<div class="rules">
			<h3><i class="fa fa-list-alt" aria-hidden="true"></i>Rules</h3>
			<ul>
				<li><p>Games are played on a half court by two (2) teams of three (3) players each.</p></li>
				<li><p>Games will be played to 15, using two and three point field goals.  Winning team must win by two points with a cap at 21. There will be a 15 minute clock on every game. If the game is tied at the end of 15 minutes, the next score wins. If one team is ahead, but 15 points has not been reached at the expiration of time, the game is over.</p></li>
				<li><p>Games will be self officiated.  Too much rough play or unsportsmanlike conduct on the part of any team will be grounds for dismissal from tournament play.</p></li>
				<li><p>The ball will be shot at the top of the key by one player to determine possession at start of the game. If the game goes to overtime a player from the team who did not shot for original possession will shot for the 1st overtime possession.</p></li>
				<li><p>Ball must be checked at the top of the key after all dead balls (ie. Out of bounds, made basket, fouls etc.).</p></li>
				<li><p>Ball must be PASSED in from the top of the key. Lane line extended up. (Not live up top!) If played from up top results in loss of possession.</p></li>
				<li><p>Possessions will alternate after each made basket. (No Make it, Take it!)</p></li>
				<li><p>On disputed calls, the player who called the foul will shoot for possession.</p></li>
				<li><p>If a dispute cannot be settled by both teams, the game is a forfeit.</p></li>
				<li><p>The ball must be brought back beyond the 3-point line on all changes of possession.</p></li>
			</ul>
		</div>
	</div>